body { background: #206749; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 51px; display: flex; }
.block-order-0 { color: #840cba; font-size: 14px; margin-bottom: 5px; }
.block-database-1 { color: #448782; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #cadc5c; font-size: 15px; margin-bottom: 5px; }
.block-metrics-3 { color: #2a85db; font-size: 15px; margin-bottom: 5px; }
.block-user-4 { color: #ec2e0a; font-size: 18px; margin-bottom: 5px; }
.block-search-5 { color: #83fe7b; font-size: 15px; margin-bottom: 5px; }
.block-user-6 { color: #510c88; font-size: 13px; margin-bottom: 5px; }
.block-router-7 { color: #309ab9; font-size: 18px; margin-bottom: 5px; }
.block-uploader-8 { color: #fa49b0; font-size: 21px; margin-bottom: 5px; }
.block-logger-9 { color: #eab8ed; font-size: 19px; margin-bottom: 5px; }
.block-cache-10 { color: #82f2ed; font-size: 18px; margin-bottom: 5px; }